# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
.Rproj.user
# c-objects
src/*o
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# manuals, rebuild with roxygen
#man/**
#Kdirectional.Rproj
#inst/doc
